.parent-field-container {
    display: flex;
    flex-direction: column;
}

.parent-field-container .parent-field-name {
    display: flex;
    align-items: center;
    margin-left: -23px;
}

.parent-field-container .child-fields-header {
    display: flex;
    padding: 0 0 0 30px;
    font-weight: bold;
    width: 300px;
}

.parent-field-container .child-fields-header span {
    flex: 1;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}