.configure-container {
    display: flex;
    padding: 30px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    margin-left: 10px;
}

.left-content-section {
    margin-bottom: 20px;
}

